# ==========================

# Windows

# ==========================

Thumbs.db
Desktop.ini

# ==========================

# macOS

# ==========================

.DS_Store

# ==========================

# Visual Studio Code

# ==========================

.vscode/

!.vscode/extensions.json

# ==========================

# Logs

# ==========================

*.log

# ==========================

# Temporary files

# ==========================

*.tmp
*.bak
*.old
*~

# ==========================

# Python

# ==========================

**pycache**/
*.pyc

# ==========================

# Terraform

# ==========================

.terraform/
*.tfstate
*.tfstate.*

# ==========================

# Ansible

# ==========================

*.retry

# ==========================

# Archives

# ==========================

*.zip
*.tar
*.gz

# ==========================

# Environment

# ==========================

.env
.env.*
